{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/password_pages.css' %}">
    <main>
        <h2>{% trans "Set Password" %}</h2>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </main>
{% endblock %}
