{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<main>
    <h2>{% trans "Sign Up" %}</h2>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
    <center>
        <h2>OR</h2>
        <div class="btn-holder">
            <a title="Google" class="socialaccount_provider google signup-btn" href="/accounts/google/login/?process=login">Signup with Google</a>
        </div>
    </center>
</main>
{% endblock %}
