{% extends 'base/base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'base/css/index.css' %}">
    <main>
        <center><h1>Contact</h1></center>
        <br>
        <h3>Feel free to contact me at <a href="mailto:18preneur@gmail.com">18preneur@gmail.com</a> or contact me from <a href="https://sherlock6147.github.io/contact.html">here</a></h3>
    </main>
    <style>
        a{
            color: skyblue;
        }
    </style>
{% endblock %}