.tags_holder{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    list-style: none;
    gap: 1em;
}
.tags_holder li{
    padding: 2.5px 1em;
    border-radius: 100px;
}
a{
    text-decoration: none;
    color: inherit;
}