.projects{
    display: flex;
    margin: 1em 0em;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.projects .card{
    background-color: var(--card-bg-color);
    padding: 30px;
    max-width: 270px;
    min-height: 270px;
    box-shadow: 12px 10px 13px 5px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    text-align: center;
}

.card .tags_holder{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    list-style: none;
    gap: 1em;
}
.tags_holder li{
    padding: 2.5px 1em;
    border-radius: 100px;
}
.card .project_link{
    margin: 1.5em auto;
    padding: 0.5em 0.5em;
    width: fit-content;
    background-color: #5733f8;
    border-radius: 400px;
}
.card .project_link a{
    padding: 1em 1em;
    width: fit-content;
    margin: auto;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.read_more{
    text-decoration: none;
    color: #4af;
    font-weight: 700;
}