main{
    margin: 10px 80px;
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}
p{
    max-width: 75ch;
    margin: 10px auto;
}
.logout input{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 100px;
}
.logout button{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 100px;
    color: var(--dark-text-color);
    background-color: var(--secondary-light-bg-color);
    outline: none;
    border: none;
}
@media screen and (max-width : 800px) {
    main{
        margin: 10px 10px;
    }
}