main{
    margin: 10px 80px;
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}
p{
    max-width: 75ch;
    margin: 10px auto;
}
.signup-btn{
    margin: 15px 10px;
    padding: 5px 25px;
    text-decoration: none;
    font-weight: 700;

    border-radius: 100px;
    color: var(--dark-text-color);
    background-color: var(--secondary-light-bg-color);
}
.signup{
    padding: 25px 45px;
    background-color: var(--card-bg-color);
    box-shadow: 12px 10px 13px 5px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    margin: 10px auto;
    width: fit-content;
}
.signup input{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 100px;
}
.signup button{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 100px;
    color: var(--dark-text-color);
    background-color: var(--secondary-light-bg-color);
    outline: none;
    border: none;
}
@media screen and (max-width : 800px) {
    main{
        margin: 10px 10px;
    }
    .signup{
        padding: 15px 5px;
    }
}
.btn-holder{
    margin: 15px 0px;
}