{% extends 'base/base.html' %}
{% load static %}
{% block title %} Projects {% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'development/css/project_view.css' %}">
    <main>
        <h2 id="title">{{project.title}}</h2>
        <br>
        <h3>Commenced on {{project.started_on}}</h3>
        <br>
        <p>{{project.description}}</p>
        <br>
        {% if project.link %}
            <small><a href="{{project.link}}">Github Repo <i class="fab fa-github"></i></a></small>
        {% endif %}
        <br>
        {% if project.deployed_link %}
            <small><a href="{{project.deployed_link}}">Link to deployed project <i class="fas fa-rocket"></i></a></small>
        {% endif %}
        <br>
    </main>
{% endblock %}